.container {
  padding: 20px; /* Agrega un padding de 20px alrededor del contenido del contenedor */
}
.custom-input {
    width: 200px; 
  }
  
  .custom-input::placeholder {
    font-size: 12px; 
    color: #999; 
  }
  caption.text-center {
    font-size: 18px; 
    color: #999;
  }


.table {
  max-width: 1200px; 
  border-collapse: collapse;
}

.table th,
.table td {
  max-width: 300px; 
  overflow: hidden;
  padding: 8px;
}

table td:not(:last-child) {
  border-right: 1px solid #dddddd; /* Borde derecho para todas las celdas excepto la última */
}